{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Restrict search boundary to current viewport.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

  <!-- Load Leaflet from CDN -->

  <link rel="stylesheet" href="{% static 'showmap/assets/leaflet.css' %}">
  <script src="{% static 'showmap/assets/leaflet.js' %}"></script>
  <script src="{% static 'showmap/assets/jquery-3.1.1.min.js' %}"></script>

  <!-- Load geocoding plugin after Leaflet -->
  <link rel="stylesheet" href="{% static 'showmap/assets/leaflet-geocoder-mapzen.css' %}">
  <script src=" {% static 'showmap/assets/leaflet-geocoder-mapzen.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'showmap/assets/examples.css' %}">
</head>
<body>
  <div id="map"></div>
  <script>
    // Create a basic Leaflet map
    var map = L.map('map').setView([51.1043, 17.1127], 12);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

    // Add geocoding plugin
    var options = {
      bounds: true
    }
    var geocoder = L.control.geocoder('search-MKZrG6M', options).addTo(map);
	
	$.ajax({
    url: 'http://127.0.0.1:8000/dbapi/',
    type: 'get', 
    success: function(data) {
            $.each(data, function (key) {
			    $.each(data[key], function (local_id,item) {
				    //local_id diffrent to the one in the json
					latitude = item.coordinates.latitude;
					longitude = item.coordinates.longitude;
					id = item.id;
					L.marker([latitude, longitude]).addTo(map).bindPopup("id: " +id +"</br>latitude: " +latitude +" </br>longitude: " +longitude)
				})
			
			})
       		
	  
    },
    failure: function(data) { 
        
    }
}); 
	
	

	
  </script>
</body>
</html>
