{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Restrict search boundary to current viewport.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

  <!-- Load Leaflet from CDN -->

  <link rel="stylesheet" href="{% static 'showmap/assets/leaflet.css' %}">
  <link rel="stylesheet" href="{% static 'showmap/assets/smoggers.css' %}">

  
  <script src="{% static 'showmap/assets/leaflet.js' %}"></script>
  

  <script src="{% static 'showmap/assets/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'showmap/assets/js.cookie.js' %}"></script>

  <!-- Load geocoding plugin after Leaflet -->
  <link rel="stylesheet" href="{% static 'showmap/assets/leaflet-geocoder-mapzen.css' %}">
  <script src=" {% static 'showmap/assets/leaflet-geocoder-mapzen.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'showmap/assets/examples.css' %}">
</head>
<body>
  <div id="map"></div>
  <script>
    // Create a basic Leaflet map
    var map = L.map('map').setView([51.1043, 17.1127], 12);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

    // Add geocoding plugin
    var options = {
      bounds: true
    }
    var geocoder = L.control.geocoder('search-MKZrG6M', options).addTo(map);
	var csrftoken = Cookies.get('csrftoken');
	function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
	
	
	function onMapDoubleClick(e) {
		var data_send = new Object();
		data_send.lat=String(e.latlng.lat);
		data_send.lng=String(e.latlng.lng);
	    $.ajax({
		 beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
           }
        },
        url: '/dbapi/set_point/',
        type: 'POST',
        data: data_send,
        traditional: true,
        dataType: 'json',
        success: function(result){
		    console.log("id: "+result.id);
            L.marker([data_send.lat, data_send.lng]).addTo(map).bindPopup("id: " +result.id +"</br>latitude: " +data_send.lat +" </br>longitude: " +data_send.lng)
            },
		failure: function(result){
            console.log("log failure"+result);
            }
        
    });       
	}  

	map.on('dblclick', onMapDoubleClick);
	map.doubleClickZoom.disable(); 

	function loadPoints() {
	$.ajax({
    url: '/dbapi/get_points/',
    type: 'get', 
    success: function(data) {
            $.each(data, function (key) {
			    $.each(data[key], function (local_id,item) {
				    //local_id diffrent to the one in the json
					latitude = item.coordinates.latitude;
					longitude = item.coordinates.longitude;
					id = item.id;
					var single_marker = L.marker([latitude, longitude]).addTo(map).bindPopup("id: " +id +"</br>latitude: " +latitude +" </br>longitude: " +longitude)
					single_markers_array.push(single_marker)
					map.addLayer(single_markers_array[local_id]);
				})
			
			})
       		
	  
    },
    failure: function(data) { 
        
    }
}); 
}

    function loadContainers(pixels, cur_zoom) {
	var data_send = new Object();
    data_send.pix_min=String(pixels.min);
    data_send.pix_max=String(pixels.max);
    data_send.cur_zoom=String(cur_zoom);
        $.ajax({
		    beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
            },
            url: '/dbapi/get_containers/',

            type: 'POST',
            data: data_send,
            traditional: true,
            dataType: 'json',
            success: function(data) {
				radius = data.radius;

					$.each(data['points'], function (local_id,item) {
				    //local_id diffrent to the one in the json
						latitude = item.coordinates.latitude;
						longitude = item.coordinates.longitude;
						counter = item.counter;
						id = item.id;
						var circle = L.circle([latitude, longitude], {
						color: 'red',
						fillColor: '#f03',
						fillOpacity: 0.5,
						radius: radius,
						})
						circle_array.push(circle)
						map.addLayer(circle_array[local_id]);
						var divIcon = L.divIcon({ 
						html: counter,
						className: "counterLabelClass",
						})
						var marker = L.marker(new L.LatLng(latitude, longitude), {icon: divIcon })
						markers_array.push(marker)
						map.addLayer(markers_array[local_id]);
				})
			

       		
	  
    },
    failure: function(data) { 
        
    }
}); 
}
var circle_array = new Array();
var markers_array = new Array();
var single_markers_array = new Array();


map.on('zoomend', function() {
    for(i=0;i<circle_array.length;i++) {
    map.removeLayer(circle_array[i]);
    }  
    for(i=0;i<markers_array.length;i++) {
    map.removeLayer(markers_array[i]);
    }  
    for(i=0;i<single_markers_array.length;i++) {
    map.removeLayer(single_markers_array[i]);
    }  
    var pixels = map.getPixelBounds();
    var cur_zoom = map.getZoom()
    circle_array = []
    markers_array = []
    single_markers_array = []
    if (cur_zoom > 14) {
       loadPoints()
    } else {
       loadContainers(pixels, cur_zoom);
    }
    
});
	
  </script>
</body>
</html>
